@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom,
    #5F2C82, #4C929A);
}

#imagem {
    float: left;
    width: 30%;
    height: 100%;
    display: block;
    border-right: 1px solid #602c827e ;  
}

form {

    float: right;
    width: 70%;
    padding: 0px 4px;


}

fieldset {
    width: 80vw;
    height: 290px;
}

.caixa {

}

.caixa > input {
    position: relative;
    width: calc(99% - 44px);
    top: -16px;
}

#key,#person {
    padding: 8px;
    position: relative;
    top: -5px;
}
